@import '../../../../../styles/colors';

.product__panel .mat-expansion-panel-header-title,
.product__panel .mat-expansion-panel-header-description {
  flex: 1 1 0;
  max-width: 60%;
}

.product__panel .mat-expansion-panel-header-description {
  align-items: center;
}

.product__panel {
  &--expanded {
    background-color: $gray;
  }
}

.product__info {
  align-items: center;
  color: $material-gray;
  display: flex;
  margin: 0.5rem 0;
  font-size: 0.8rem;
  vertical-align: middle;
}

.product__info-icon {
  margin-right: 0.25rem;
  vertical-align: middle;
}

.product__button {
  margin: 0 0.5rem;
}
