<mat-expansion-panel class="product__panel"
                     [ngClass]="{'product__panel--expanded': isExpanded}"
                     [expanded]="isExpanded"
                     (opened)="onOpened()"
                     [hideToggle]="false">

  <mat-expansion-panel-header class="product__header">
    <mat-panel-title>
      <h3>{{ product.name }}</h3>
    </mat-panel-title>

    <mat-panel-description>
      <mat-chip-list title="Product's price">
        <mat-chip>
          <mat-icon>attach_money</mat-icon>
          {{ product.price }}
        </mat-chip>
      </mat-chip-list>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-list-item class="product__info" title="Product id">
    <mat-icon class="product__info-icon">label</mat-icon>
    #{{ product.productID }}
  </mat-list-item>

  <mat-divider *ngIf="product.description"></mat-divider>
  <mat-list-item class="product__info" *ngIf="product.description">
    <mat-icon class="product__info-icon">description</mat-icon>
    {{ product.description }}
  </mat-list-item>

  <mat-action-row>
    <button mat-raised-button class="product__button" (click)="onEditClick()">
      <mat-icon>mode_edit</mat-icon>
      Edit
    </button>
    <button mat-raised-button class="product__button" (click)="onRemoveClick()" >
      <mat-icon>delete</mat-icon>
      Remove
    </button>
  </mat-action-row>
</mat-expansion-panel>
