$main-dark:           #343635;
$blue:                #2e4874;
$light-green:         #7eaba4;
$dark-green:          #347c83;
$bright:              #f4eade;

$material-white:      #fff;
$material-gray:       rgba(0,0,0,.54);
$material-light-gray: rgba(0,0,0,.03);
$material-primary:    #3f51b5;
$material-warn:       #f44336;

$material-indigo-100: #C5CAE9;
$material-indigo-050: #E8EAF6;
