.product-list__accordion {
  display: flex;
  flex-direction: column;
}

.product-list__accordion .mat-expansion-panel-header-title,
.product-list__accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.product-list__accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
