<ng-container *ngIf="(products$ | async) as products">
  <div class="list__add-product-wrapper">
      <span class="list__counter">Our collection contains
        <span class="list__products-number">{{ products?.length }}</span>
        items.
      </span>
    <button mat-raised-button color="primary" (click)="onProductAddClick()" class="list__add-button">
      <mat-icon>add_circle</mat-icon>
      Add new product
    </button>
  </div>

  <ng-container *ngIf="products?.length; else noProducts">
    <my-product-list [products]="products"
                     (productRemove)="onProductRemove($event)">
    </my-product-list>
  </ng-container>
</ng-container>
<mat-spinner *ngIf="isLoading" class="list__spinner"></mat-spinner>

<ng-template #noProducts>
  <my-error-message [message]="noProductsError"></my-error-message>
</ng-template>


