<ng-container *ngIf="(products$ | async) as products">
  <my-summary class="list__summary"
              (addButtonClick)="onAddButtonClick()"
              [items]="products?.length"></my-summary>

  <ng-container *ngIf="products?.length; else noProducts">
    <my-product-list [products]="products"
                     (productEdit)="onProductEdit($event)"
                     (productRemove)="onProductRemove($event)">
    </my-product-list>
  </ng-container>
</ng-container>
<mat-spinner *ngIf="isLoading" class="list__spinner"></mat-spinner>

<ng-template #noProducts>
  <my-error-message [message]="noProductsError"></my-error-message>
</ng-template>


