:host {
  display: flex;
  position: sticky;
  top: 0;
  vertical-align: middle;
  z-index: 1;
}

.top-bar__icon {
  margin-right: 0.5rem;
}

.top-bar__logout-wrapper {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  vertical-align: middle;
}

.top-bar__app-name-wrapper {
  align-items: center;
  display: flex;
  cursor: pointer;
  vertical-align: middle;
}

.top-bar__app-name {
  &:hover {
    text-decoration: underline;
  }
}
