@import '../../../../../styles/colors';
@import '../../../../../styles/shared';

:host {
  background: $gray;
  border: 1px solid $main-dark;
  box-shadow: $form-box-shadow;
  display: block;
  padding: 2rem;
}

.product-form__form {
  display: flex;
  flex-direction: column;
}

.product-form__buttons-group {
  margin-left: auto;
}

.product-form__icon {
  color: $material-gray;
  margin-left: 0.5rem;
}

.product-form__field {
  margin: 0.5rem 0;
}
