<form class="login-form__form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="login-form__group">
    <mat-form-field>
      <input matInput
             myAutoFocus
             [timeout]="300"
             [(ngModel)]="model.login"
             name="login"
             placeholder="Your login"
             [type]="'text'"
             required>
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>
  </div>

  <div class="login-form__group">
    <mat-form-field>
      <input matInput
             autocomplete="new-password"
             [(ngModel)]="model.password"
             name="password"
             placeholder="Enter your password"
             [type]="hidePassword ? 'password' : 'text'"
             required>
      <mat-icon matSuffix class="login-form__password-icon"
                (click)="onPasswordIconClick()">
        {{ hidePassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </mat-form-field>
  </div>
  <button [disabled]="!loginForm.form.valid"
          mat-raised-button
          type="submit"
          color="primary">
    Sign in
  </button>
</form>
